{% extends '::layout/usuario.html.twig' %}

{% block body %}



    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Registro de Produto
            </div>
            {{ form_errors(form) }}

        </div>
        <div class="portlet-body form ">
            {{ form_start(form, {'action': path('produtos_edit',{'id':produto.id}), 'method': 'post','attr': {'class': 'form-horizontal'}}) }}


            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Nome</label>
                    <div class="col-md-9">
                        {{form_row(form.nome ,{ 'label' : false, 'attr' : {'class' : 'form-control'}})}}

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">valor</label>

                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class=" fa fa-plus" id="add"></i>
                            </span>
                            {{form_row(form.valor,{'label' : false, 'attr' : {'class' : 'form-control'}})}}
                        </div>
                    </div>
                </div>
                <div id="telefones"></div>



                <div class="form-group">
                    <label class="col-md-3 control-label">Descrição</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.descricao , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Quantidade</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.quantidade , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>




                <div class="form-group ">
                    <label class="control-label col-md-3">Imagem principal</label>
                    <div class="col-md-9">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                <img  src="{{asset('uploads/produtos/'~produto.fotos.0.arquivo)}}" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 

                            </div>
                            <div>
                                <span class="btn default btn-file">
                                    <span class="fileinput-new">
                                        Select image </span>
                                    <span class="fileinput-exists">
                                        Change </span>
                                    {{form_row(form.filePrincipal , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                                </span>
                                <a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
                                    Remove </a>
                            </div>
                        </div>
                        <div class="clearfix margin-top-10">
                            <span class="label label-danger">
                                NOTE! </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Outras imagem</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.fileMult , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Categoria</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.categoria , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Outras fostos
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
<th>
                                            #
                                        </th>
                                        <th>
                                            Imagem
                                        </th>
                                        <th>
                                            Ação
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for array in  produto.fotos if array.principal ==0 %}
                                        <tr>
                                            <td>
                                               {{ loop.index }}
                                            </td>
                                            <td>
                                                <img  src="{{asset('uploads/produtos/'~array.arquivo)}}" data-holder-rendered="true" style="height: 200px; width: 200px; display: block;"> 

                                            </td>
                                            <td>
                                                <a href="#" class="btn red " >
                                                    Remove </a>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>      

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        {{form_row(form.salvar, { 'attr' : { 'class' : 'btn green' }})}}
                    </div>
                </div>
            </div>
            {{form_rest(form)}}
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

