{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produtos</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produto.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ produto.nome }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ produto.valor }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ produto.descricao }}</td>
            </tr>
            <tr>
                <th>Quantidade</th>
                <td>{{ produto.quantidade }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if produto.status %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datacadastro</th>
                <td>{% if produto.dataCadastro %}{{ produto.dataCadastro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produtos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produtos_edit', { 'id': produto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
