{% extends '::/layout/usuario.html.twig' %}

{% block body %}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-edit"></i>Editable Table
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <button id="sample_editable_1_new" class="btn green">
                                Add New <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Nome :</label>
                                <div class="col-md-10">
                                    {{ produto.nome }} 
                                </div>
                            </div>
                        </div>

                         <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Valor :</label>
                                <div class="col-md-10">
                                    {{ produto.valor }}
                                </div>
                            </div>
                        </div>
                                   <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Quantidade :</label>
                                <div class="col-md-10">
                                    {{ produto.quantidade }}
                                </div>
                            </div>
                        </div>
                                
                                   <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Status :</label>
                                <div class="col-md-10">
                                   {% if produto.status %}Ativo{% else %}Inativo{% endif %}
                                </div>
                            </div>
                        </div>
                                   <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Data cadastro :</label>
                                <div class="col-md-10">
                                  {% if produto.dataCadastro %}{{ produto.dataCadastro|date('Y-m-d H:i:s') }}{% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Descricao</h3>
                                    </div>
                                    <div class="panel-body">
                                       {{ produto.descricao }}
                                    </div>
                                </div>
                            </div>
                        </div>
                      

                    </div>


                </div>
            </div>
        </div> 
    {% endblock %}
