{% extends '::/layout/usuario.html.twig' %}

{% block body %}
    <h1>Empresar list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Cnpj</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empresar in empresars %}
            <tr>
                <td><a href="{{ path('empresar_show', { 'id': empresar.id }) }}">{{ empresar.id }}</a></td>
                <td>{{ empresar.nome }}</td>
                <td>{{ empresar.descricao }}</td>
                <td>{{ empresar.cnpj }}</td>
                <td>{{ empresar.logo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('empresar_show', { 'id': empresar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('empresar_edit', { 'id': empresar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empresar_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
