

{% extends '::/layout/usuario.html.twig' %}


{% block body %}
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Serviços
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a id="sample_editable_1_new"  href="{{path('clientes_new')}}" class="btn green">
                                    Nova transação <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
                <div id="sample_editable_1_wrapper" class="dataTables_wrapper no-footer">
                    <div class="table-scrollable"><table class="table table-striped table-hover table-bordered dataTable no-footer" id="sample_editable_1" role="grid" aria-describedby="sample_editable_1_info">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Descrição</th>
                                   
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>


                               {% for servico in servicos %}
                                    <tr>

                                        <td>{{ servico.nome }}</td>
                                        <td>{{ servico.descricao }}</td>
                                        
                                        <td>
                                            <a href="{{ path('servicos_edit', { 'id': servico.id }) }}" class="btn default btn-xs purple">
                                                <i class="fa fa-edit"></i> Edit </a>
                                          <!--  <a href="{{ path('servicos_show', { 'id': servico.id }) }}" class="btn default btn-xs purple">
                                                <i class="fa fa-edit"></i> show </a>-->
                                        </td>
                                    </tr>
                                {% endfor %}







                            </tbody>
                        </table></div>
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <div class="dataTables_info" id="sample_editable_1_info" role="status" aria-live="polite">
                                Total : 
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="dataTables_paginate paging_simple_numbers" id="sample_editable_1_paginate">


                            </div></div></div></div>
            </div>
        </div>

    </div>                  

{% endblock %}
