{% extends "::base.html.twig"%}
 {% block sidebar %}
     {% set params = app.request.attributes.get("_controller") | params %}
     {{params.Controle.1}}
     {{params.Action.1}}
  
     <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <div class="page-sidebar navbar-collapse collapse">

                        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                            <li class="sidebar-toggler-wrapper">
                                <div class="sidebar-toggler">
                                </div>
                            </li>
                            <li class="sidebar-search-wrapper">

                                <form class="sidebar-search " action="extra_search.html" method="POST">
                                    <a href="javascript:;" class="remove">
                                        <i class="icon-close"></i>
                                    </a>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                                        </span>
                                    </div>
                                </form>
                            </li>
                               <li class="start  {% if( params.Controle.1=='Usuario' and params.Action.1=='painel' )
                            %} active {% endif %} ">
                                <a href=" {{path('painel_usuario')}}">
                                    <i class="icon-home"></i>
                                    <span class="title">Painel</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>
                            
                            
                                 <li class="start  {% if( params.Controle.1=='Fotos' and params.Action.1=='index' )
                            %} active {% endif %} ">
                                <a href=" {{path('fotos_index')}}">
                                    <i class="icon-home"></i>
                                    <span class="title">Banners</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>
                            
                            
                            <li class="start {% if( params.Controle.1=='Produtos' and params.Action.1=='index' )
                            %} active {% endif %} ">
                                <a href=" {{path('produtos_index')}}">
                                   <i class="icon-home"></i>
                                    <span class="title">Produto</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>
                            
                            
                              <li class="start  {% if( params.Controle.1=='Categoria' and params.Action.1=='index' )
                            %} active {% endif %}  ">
                                <a href=" {{path('categoria_index')}}">
                                    <i class="icon-home"></i>
                                    <span class="title">Categoria</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>
                            
                            
                            
                               <li class="start {% if( params.Controle.1=='Empresar' and params.Action.1=='minhaempresa' )
                            %} active {% endif %}  ">
                                <a href=" {{path('empresar_minha')}}">
                                    <i class="icon-home"></i>
                                    <span class="title">Minha empresar</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>
                            
                                 <li class="start {% if( params.Controle.1=='Servicos' and params.Action.1=='index' )
                            %} active {% endif %}  ">
                                <a href=" {{path('servicos_index')}}">
                                    <i class="icon-home"></i>
                                    <span class="title">Servico</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>
                                 <li class="start {% if( params.Controle.1=='Clientes' and params.Action.1=='index' )
                            %} active {% endif %}  ">
                                <a href=" {{path('clientes_index')}}">
                                    <i class="icon-home"></i>
                                    <span class="title">Clinetes</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>
                                 <li class="start {% if( params.Controle.1=='Receita' and params.Action.1=='index' )
                            %} active {% endif %}  ">
                                <a href=" {{path('receita_index')}}">
                                    <i class="icon-home"></i>
                                    <span class="title">Lançamentos</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>
                            
                                 <li class="start {% if( params.Controle.1=='Parcelas' and params.Action.1=='index' )
                            %} active {% endif %}  ">
                                <a href=" {{path('parcelas_index')}}">
                                    <i class="icon-home"></i>
                                    <span class="title">Controle de gastos e saldo</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>

                        </ul>
                        <!-- END SIDEBAR MENU -->
                    </div>
                </div>
                <!-- END SIDEBAR -->
     {% endblock %}