{% extends "::base.html.twig"%}
{% block body %}



    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Registro de Usuário
            </div>
            {{ form_errors(form) }}

        </div>
        <div class="portlet-body form ">
            {{ form_start(form, {'action': path('cadastro_usuario'), 'method': 'post','attr': {'class': 'form-horizontal'}}) }}


            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Nome</label>
                    <div class="col-md-9">
                        {{form_row(form.nome ,{ 'label' : false, 'attr' : {'class' : 'form-control'}})}}

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">telefone</label>

                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class=" fa fa-plus" id="add"></i>
                            </span>
                            {{form_row(form.telefones,{'label' : false, 'attr' : {'class' : 'form-control'}})}}
                        </div>
                    </div>
                </div>
                <div id="telefones"></div>



                <div class="form-group">
                    <label class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.email , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Endereco</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.endereco , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Bairro</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.bairro , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>




                <div class="form-group">
                    <label class="col-md-3 control-label">UF</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.uf , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Cep</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.cep , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>
                        
                <div class="form-group">
                    <label class="col-md-3 control-label">Senha</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            {{form_row(form.password.first, { 'label': false,'attr' : { 'class' : 'form-control' }})}}
                            <span class="input-group-addon">
                                <i class=" fa fa-lock"></i>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">Repita Senha</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            {{form_row(form.password.second, { 'label': false,'attr' : { 'class' : 'form-control' }})}}
                            <span class="input-group-addon">
                                <i class="fa  fa-lock"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Tipo usuario</label>
                    <div class="col-md-9">
                        {{form_row(form.tipo, { 'label': false,'attr' : { 'class' : 'form-control' }})}}
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        {{form_row(form.salva, { 'attr' : { 'class' : 'btn green' }})}}
                    </div>
                </div>
            </div>
            {{form_rest(form)}}
            {{ form_end(form) }}
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

    <script>
        $(document).ready(function () {
            i = 1;
            $("#add").click(function () {
                $("#telefones").append($('<div/>', {class: 'form-group'}).append($('<label/>', {class: 'col-md-3 control-label', text: 'telefone'}),
                        $('<div/>', {class: 'col-md-9'}).append($('<div/>', {class: 'input-group'}).append($('<span/>', {class: 'input-group-addon'})
                        .append($('<i/>', {class: 'fa fa-plus'})
                                )
                        , $('<div/>', {}).append($('<input/>', {class: 'form-control', name: 'usuario[telefones][' + i + ']'}))
                        )
                        )
                        )
                        );
                i++;
            });
        })


    </script>
{% endblock %}

