



{% extends '/layout/usuario.html.twig' %}




{% block body %}



    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Cadastrar transação
            </div>
            {{ form_errors(form) }}

        </div>
        <div class="portlet-body form ">
            {{ form_start(form, {'action': path('receita_new'), 'method': 'post','attr': {'class': 'form-horizontal'}}) }}


            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Nome</label>
                    <div class="col-md-9">
                        {{form_row(form.titulo ,{ 'label' : false, 'attr' : {'class' : 'form-control'}})}}

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Tipo</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.tipo , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Cliente</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.cliente , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>         




                <div class="form-group">
                    <label class="col-md-3 control-label">Servico</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{form_row(form.servico , { 'label' : false, 'attr' : { 'class' : 'form-control' }})}}
                        </div>
                    </div>
                </div>      





                <div class="form-group">
                    <label class="col-md-3 control-label">Valor total</label>
                    <div class="col-md-9">
                        {{form_row(form.valorTotal ,{ 'label' : false, 'attr' : {'class' : 'form-control'}})}}

                    </div>

                </div>
               






                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box purple">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Parcelas
                        </div>

                    </div>
                    
                    <div class="portlet-body">
                        <div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										 <div class="form-group last">
                    <label class="control-label col-md-3">Parcelas</label>
                    <div class="col-md-9">
                        <div id="spinner4">
                            <div class="input-group" style="width:150px;">
                                <div class="spinner-buttons input-group-btn">
                                    <button  id="add" type="button" class="btn spinner-up blue">
                                        <i class="fa fa-plus "></i>
                                    </button>
                                </div>
                                {{form_row(form.qtdParcela ,{ 'label' : false,'value':'1','attr' : {'class' : 'form-control'}})}}
                                <div class="spinner-buttons input-group-btn">
                                    <button type="button" id="remove" class="btn spinner-down red ">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<a href="#">
													Print </a>
												</li>
												<li>
													<a href="#">
													Save as PDF </a>
												</li>
												<li>
													<a href="#">
													Export to Excel </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Numero da parcela
                                        </th>
                                        <th>
                                            Valor
                                        </th>
                                        <th>
                                            Dia para vencimento
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tb">
                                    <tr>
                                        <td>
                                            1
                                            <input type="hidden"  value="1" id="form_parcelas_0" name="form[parcelas][0][numero]" class="form-control " />  
                                        </td>
                                        <td>
                                            <input type="text"  name="form[parcelas][0][valor]" class="form-control " />  
                                        </td>
                                        <td>
                                            <input type="text"  name="form[parcelas][0][vencimento]" class="form-control " /> 
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->



            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </div>
            {{form_rest(form)}}
            {{ form_end(form) }}
        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>



    <script>
        $(document).ready(function () {
            i = 1;
            $("#add").click(function () {
                i++;
                $('#receita_qtdParcela').val(i);
                $("#tb").append('<tr id="tr' + i + '"> <td>' + i + '<input type="hidden" value="' + i + '" name="form[parcelas][' + i + '][numero]" class="form-control "> </td>' +
                        ' <td> <input type="text"  name="form[parcelas][' + i + '][valor]" class="form-control "> </td>' +
                        '<td> <input type="text"  name="form[parcelas][' + i + '][vencimento]" class="form-control "> </td> </tr>'
                        );
            });

            $("#remove").click(function () {
                if (i == 1) {
                    return;
                }
                $('#tr' + i).remove();
                i--;
                $('#receita_qtdParcela').val(i);
                console.log(i);

            });

        })


    </script>


{% endblock %}